{% extends 'teachersBase.html' %}
{% load static %}


{% block body %}

<!--row 1-->

<div class="row">

<!--col 1-->
    <div class="col-sm-8">

        <!--create blog start -->



         <div class="card mb-5">

          <!-- Card image -->
          <div class="view overlay">

            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title">Create your own blog</h4>
            <!-- Text -->
            <p class="card-text">your post will be seen by admin .if admin accept your
            post request then it will share in  public</p>
            <!-- Button -->
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Create
      </button>


          </div>

        </div>




        <!-- Card -->
        <div class="card mb-5">



            <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create A Post </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
         <form action="{% url 'addPost' %}" method="post">
                {% csrf_token %}
   {%for f in form %}

<div class="form-group">
  <label>{{ f.label_tag }}:</label>
    <p>{{f}}</p>
</div>



                    {% endfor %}




      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
</form>
    </div>
  </div>
</div>

          <!-- Card image -->




          </div>


     <!--create blog end-->







         <div class="card mb-5">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
              alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <h4 class="card-title">Card title</h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <!-- Button -->
            <a href="#" class="btn btn-primary">See More</a>

          </div>
        </div>



    </div>

     <div class="col-sm-3 ml-lg-5 " >

           <div class="card text-center ">
                    <h6>About Me</h6>
<div class="card card-cascade">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top rounded-circle pl-5 pr-5 pt-3" src="{% static 'aya.jpeg' %}" alt="Card image cap">
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade text-center">

    <!-- Title -->
    <h4 class="card-title"><strong>Azizur Rahman Chowdhury Ayan</strong></h4>
    <!-- Subtitle -->
    <h6 class="font-weight-bold indigo-text py-2">Student of metrpolitan University</h6>
    <!-- Text -->
    <p class="card-text">Right now, I am doing cse from MU
    </p>

    <!-- Facebook -->
    <a href="https://www.linkedin.com/in/azizur-rahman-720636165"  class="btn-floating btn-small btn-fb"><i class="fa fa-linkedin-square

"></i></a>
    <!-- Twitter -->
    <a href="https://www.facebook.com/imayanchy/" class="btn-floating btn-small btn-tw" style="padding:10px;"><i class="fa fa-facebook-square

"></i></a>
    <!-- Google + -->
    <a href="mailto:aaziz9642@gmail.com"  class="btn-floating btn-small btn-dribbble"><i class="fa fa-envelope-o"></i></a>

  </div>

</div>
              <!--ending of about me-->
                </div>

         </div>
</div>




{% endblock body %}