{% extends 'base.html' %}
{% load static %}


{% block title  %} home  {% endblock title %}
{% block postactive %}active{% endblock postactive  %}


 {% block body %}


 <div class="row">
   <div class="col-sm-8">

    <div class="card">
  <div class="card-header">
    {{ post.postTitle }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ post.postTimeDate }}</h5>
      <img  src=" {{ post.get_photo_url }} " class="img-fluid img-thumbnail img-rounded"
                        alt="Responsive image" height="300">
    <p class="card-text">{{ post.postText |truncatewords:500 }}</p>
      <a  href="{{ post.postUrl }}">Post Url</a>
    <p class="card-text">{{ post.postAuthor | truncatechars:5 }}</p>

  </div>
        </div>



       </div>

</div>






 {% endblock body %}